/* index.html*/
.titulo-akira{
    color: $primary;
}

.titulo-ultimas-novedades{
    background-color: $tertiary;
}

.titulo-ofertas-abril{
    background-color: $tertiary;
    } 

/* productos-html*/
.titulo-productos{
    text-align: center;
}

/* contacto.html*/
.titulo-contacto{
    text-align: center;
}

.texto-titulo-contacto{
    text-align: center;
}

/* nosotros.html*/ 
